.HeaderBottom {
    max-width: 1280px;
    height: 384px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
}

.root{
    max-width:1248px !important;
    height: 361px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 16px);
    margin: -8px;
}
 
.container{
    height: 361px;
    width: 246px;
    color: inherit;
    margin: 0;
    box-sizing: border-box;
    padding:8px;
    /* max-width: 1248px;
    display: flex;
     justify-content: center; 
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 355px; */
}
 
.paper {
    width: 230px;
    height: 345px;  
    background-color:  #2b2b2b !important;
    border-radius: 0px; 
    /* // backgroundColor: '#2f3234',
    // padding: '8px', */
   /* border: 0;
    cursor: pointer;
    margin: 0;
    display: grid;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    /* moz-appearance: none; */
    /*justify-content: center;
    text-decoration: none;
    background-color: #2b2b2b;
    -webkit-appearance: none;
    box-shadow: rgb(0 0 0 / 50%) 0px 8px 15px;*/
    /* // webkitTapHighlightColor: 'transparent', */
     
}
.button{
    width: 230px; 
    height: 320px;
    /* box-shadow: rgb(0 0 0 / 50%) 0px 8px 15px; */

}
.button:hover{
    
}

.cardContent{
    width:230px; 
    min-height: 179px !important;
    display: flex;
    padding: 30px !important;
    justify-content: center;
    align-items: center;
}
.image {
    width: 70%;
    height: 67%;
    margin: auto;
    object-fit: cover;
}

.text {
    top: 70%;
    left: 50%;
    color: #fff;
    opacity: 10;
    z-index: 100;
    position: absolute;
    font-size: 35px;
    transform: translate(-50%, -50%);
    transition: all .3s;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    line-height: 1.5;

}
.imageOverlay:hover{
    opacity:50;
    top:50%;
}

/* .title{
    font-weight: 600;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    max-width: 113px;
    font-size: 14px;
    font-family: Work Sans, sans-serif;
    line-height: 1.43;
} */


